* {
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.card {
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

.card img {
    height: 100%;
    width: 100px;
}

.start {
    background-color: rgb(113, 175, 185);
    color: black;
}
main {
    display: flex;
}
